# Node.js
/node_modules
/package-lock.json
/yarn.lock

# Remix
/public/build
/build
/api/index.js # または serverBuildPath で指定したパス
/.cache
/.remix

# Environment variables
/.env
/.env.*
!.env.example

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# macOS
.DS_Store

# その他
tmp
temp
*.log
*.swp
*.lock